@page
@model csc_digital_web_app.Pages.User.DashboardModel
@{
    ViewData["Title"] = "User Dashboard page";
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4">Welcome to User-dashboard</h1>
    <p>User Dashboard page.</p>
</div>