@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	Layout = "_LoginLayout";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Building Web apps with ASP.NET Core</a>.</p>
</div>
