@page
@model csc_digital_web_app.Pages.Home.DashboardModel
@{
    ViewData["Title"] = "Dashboard page";
    Layout = "_AdminLayout";
}
<div class="text-center">
    <h1 class="display-4">Welcome to dashboard</h1>
    <p>Dashboard page.</p>
</div>
